@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.content-form__advanced-toggle,
.content-form__advanced{
  background:#2b302f;
}

.content-form__advanced-toggle{
  border:0;
  color:white;
  flex-direction:column;
  justify-content:flex-end;
  align-items:center;
  padding-bottom:1em;
}

.content-form__advanced-toggle:focus, .content-form__advanced-toggle:active{
  box-shadow:none;
  outline:none;
}

.content-form__advanced-toggle:hover{
  background:#202423;
}

.content-form__advanced-toggle:hover svg path{
  fill:#33f3e0;
}
.content-form__actions{
  z-index:101;
}

.content-form__actions .button--danger{
  display:inline-block;
  vertical-align:bottom;
  padding:7px 0;
  text-transform:none;
  color:#bfbfbf;
  font-size:0.875rem;
  font-weight:bold;
  margin-right:0.75rem;
}

.content-form__actions .button--danger:last-child{
  margin-right:0;
}

@media screen and (-moz-device-pixel-ratio){
  .content-form__actions .button--danger{
    line-height:1.14;
  }
}

.content-form__actions .field--widget-thunder-moderation-state-default{
  display:inline-block;
  vertical-align:bottom;
  margin-right:1em;
}

.content-form__actions .field--widget-thunder-moderation-state-default .form-item-moderation-state-0{
  margin:0;
}

.content-form__actions .field--widget-thunder-moderation-state-default .form-item-moderation-state-0 select{
  min-height:30px;
}

@media screen and (-moz-device-pixel-ratio){
  .content-form__actions .field--widget-thunder-moderation-state-default .form-item-moderation-state-0 select{
    padding-top:3px;
  }
}

.content-form__actions .field--widget-thunder-moderation-state-default .form-item__toggle-description-placeholder{
  display:none;
}

.content-form__actions .status{
  float:right;
  padding:8px;
  margin:0;
  font-size:0.875rem;
  font-weight:bold;
  color:#fafafa;
}

.content-form__actions .status.draft{
  background-color:#33f3e0;
}

.content-form__actions .status.published{
  background-color:#5a605f;
}

.content-form__actions .status.unpublished{
  background-color:#979797;
}

@media (min-width: 600px){
  .content-form__actions{
    background:#2b302f;
  }
  .content-form__actions .button:disabled, .content-form__actions .button:disabled:active, .content-form__actions .button:disabled:hover, .content-form__actions .button.is-disabled, .content-form__actions .button.is-disabled:active, .content-form__actions .button.is-disabled:hover{
    border-color:#d4d4d4;
    color:#d4d4d4;
  }
}

.content-form__form-section{
  background:#ececec;
  border-radius:0px;
  padding-top:2.5rem;
}

.content-form__form-section > legend,
.content-form__form-section > summary{
  padding-left:0.4em;
  text-transform:none;
  font-size:1rem;
  border-left:5px solid #33f3e0;
  top:1rem;
}

.content-form__form-section .seven-details{
  background-color:transparent;
}

.entity-meta--advanced{
  background:transparent;
  border:0;
  box-shadow:none;
  font-size:0.75rem;
  margin:0.75rem 0 0.75rem 1.5rem;
}

.entity-meta--advanced .entity-meta__header,
.entity-meta--advanced .seven-details{
  background:transparent;
  border-top:0;
  border-bottom:0;
  box-shadow:none;
}

.entity-meta--advanced .entity-meta__title{
  text-shadow:none;
}

.entity-meta--advanced .entity-meta__last-saved label,
.entity-meta--advanced .entity-meta__author label{
  margin-right:0.333em;
}

.entity-meta--advanced .seven-details{
  border-top:2px solid #5a605f;
  border-bottom:2px solid #5a605f;
}

.entity-meta--advanced .seven-details + .seven-details{
  border-top:0;
}

.entity-meta--advanced .seven-details[open]{
  background-image:none;
  border-top-width:2px;
}

.entity-meta--advanced .seven-details[open] > .seven-details__summary{
  color:#dae0e3;
}

.entity-meta--advanced .seven-details > summary{
  text-shadow:none;
  font-size:0.875rem;
}
