@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.field-multiple-table--paragraphs--deprecated > thead > tr,
.field-multiple-table--paragraphs--deprecated > tbody > tr{
  border-bottom-width:0;
}

.field-multiple-table--paragraphs--deprecated .paragraph-type-add-modal{
  display:block;
}

.field-multiple-table--paragraphs--deprecated + .description{
  top:35px;
  position:relative;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  max-height:18px;
}

.field-multiple-table--paragraphs--deprecated + .description + .clearfix > .paragraph-type-add-modal.first-button{
  top:-20px;
}

.field-multiple-table--paragraphs--deprecated .paragraph-form-item__links li.restore{
  margin-left:4px;
}

.paragraph-type-add-modal.first-button{
  display:block;
  position:relative;
}
