
@import 'functions';

/* Colors */

/* stylelint-disable plugin/no-browser-hacks */
$primary-color: rgb(10, 188, 170); /* #96DC4B */
$primary-color-intense: rgb(51, 243, 224); /* #009FE3 */
$primary-color-dark: rgb(90, 96, 95);/* #4d4d4d */
$primary-color-darker: rgb(43, 48, 47);/* #333333 */
$primary-color-darkest: rgb(32, 36, 35); /* #182626 */
$primary-color-light: rgb(51, 243, 224); /* #75caee */
$primary-color-lighter-2:rgb(174, 243, 236);
$primary-color-lighter: rgb(238, 238, 238); /* #D4EDFC */
$primary-color-lightest: rgb(236, 236, 236); /* #EAF6FE */

$gray-medium: rgb(151, 151, 151); /* #979797 */
$gray-light: rgb(191, 191, 191); /* #BFBFBF */
$gray-lighter: rgb(218, 224, 227); /* #DAE0E3 */
$gray-lightest: rgb(250, 250, 250); /* #FAFAFA */

$text-color: $primary-color-darker;

/* Fonts */
$font-size-root: 20px;
$font-size-base: 0.8125rem; /* 13px */

$font-size-small: 0.6875rem; /* 13px */
$font-size-tiny: 0.5625rem; /* 9px */

@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
$font-family: "Roboto", sans-serif;

/* Rounded up, since chrome treats 19.9998 as 19. Only three digits for firefox */
$line-height-base: 1.539; /* 20px/13px */

/* Spacing */
$base-space: 0.75rem; /* 15px/20px */
$base-space-2x: 1.5rem; /* 30px/20px */

$base-space-80pct: 0.5rem; /* 8px/16px */

$base-border-radius: 0px;

/* Device breakpoints */

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-and-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-portrait-only {
  @media (min-width: 600px) and (max-width: 899px) and (orientation: portrait) { @content; }
}
@mixin for-tablet-landscape-and-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-tablet-landscape-up-to-desktop {
  @media (min-width: 900px) and (max-width: 1199px) { @content; }
}
@mixin for-big-tablet-landscape-and-up {
  @media (min-width: 1024px) { @content; }
}
@mixin for-desktop-and-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-and-up {
  @media (min-width: 1600px) { @content; }
}

/**
 * Media screen size defined by base drupal themes to adjust style for tablets and phones.
 */
@mixin for-drupal-tablet-and-phone {
  @media screen and (max-width: 600px) { @content; }
}

/**
 * Mixin for inline SVG button icon.
 *
 * $svg is SVG string, replacement variables are maps with key=>value, where keys will be replaced with value
 * for 3 possible states (default color, hover + active + focus color and disabled color).
 */
@mixin inline-svg-button($svg, $replace_colors, $replace_hover_colors, $replace_disabled_colors) {
  background-image: svg-url(str-replace-multiple($svg, $replace_colors));

  &.button--highlight, // Used for paragraphs.js edit button hover.
  &:hover,
  &:active,
  &:focus {
    background-image: svg-url(str-replace-multiple($svg, $replace_hover_colors));
  }

  &:disabled {
    background-image: svg-url(str-replace-multiple($svg, $replace_disabled_colors));
  }
}

/* toolbar */
$toolbar-vertical-width: 320px;
