/**
 * @file
 * Import and override details.css provided by seven/global-styling.
 */
@import 'variables';

@import '@theme-seven/css/components/details.css remove {
  .seven-details__summary { color }
}';

.seven-details {
  background-color: $primary-color-lightest;
  border-color: $gray-lighter;
  border-radius: 2px;
}
.seven-details__summary {
  color: $primary-color;
}