/**
 * @file
 * Import pager.css provided by seven/global-styling.
 * Import and override
 * @todo [IMPORT_ONLY]
 */
@import 'variables';

/* stylelint-disable string-no-newline */
@import '@theme-seven/css/components/pager.css remove {
  .pager__item.is-active a {}
  .pager__item--next a,
  .pager__item--last a,
  .pager__item--first a,
  .pager__item--previous a {}

}';
/* stylelint-enable string-no-newline */

.pager__item.is-active a {
  border-bottom-color: $primary-color;
  color: $primary-color;
}
.pager__item--next a,
.pager__item--last a,
.pager__item--first a,
.pager__item--previous a {
  border-bottom-width: 0;
  color: $primary-color;
}
