@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.select2-container--thunder_admin{
}

.select2-container--thunder_admin .select2-selection--single{
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:4px;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__rendered{
  color:#444;
  line-height:28px;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__clear{
  cursor:pointer;
  float:right;
  font-weight:bold;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__placeholder{
  color:#999;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__arrow{
  height:26px;
  position:absolute;
  top:1px;
  right:1px;
  width:20px;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__arrow b{
  border-color:#888 transparent transparent transparent;
  border-style:solid;
  border-width:5px 4px 0 4px;
  height:0;
  left:50%;
  margin-left:-4px;
  margin-top:-2px;
  position:absolute;
  top:50%;
  width:0;
}

.select2-container--thunder_admin[dir="rtl"] .select2-selection--single .select2-selection__clear{
  float:left;
}

.select2-container--thunder_admin[dir="rtl"] .select2-selection--single .select2-selection__arrow{
  left:1px;
  right:auto;
}

.select2-container--thunder_admin.select2-container--disabled .select2-selection--single{
  background-color:#eee;
  cursor:default;
}

.select2-container--thunder_admin.select2-container--disabled .select2-selection--single .select2-selection__clear{
  display:none;
}

.select2-container--thunder_admin.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color:transparent transparent #888 transparent;
  border-width:0 4px 5px 4px;
}

.select2-container--thunder_admin .select2-selection--multiple{
  background-color:white;
  border:1px solid #aaa;
  border-radius:4px;
  cursor:text;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__rendered{
  box-sizing:border-box;
  list-style:none;
  margin:0;
  padding:0 5px;
  width:100%;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__rendered li{
  list-style:none;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__placeholder{
  color:#999;
  margin-top:5px;
  float:left;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__clear{
  cursor:pointer;
  float:right;
  font-weight:bold;
  margin-top:5px;
  margin-right:10px;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice{
  background-color:#e4e4e4;
  border:1px solid #aaa;
  border-radius:4px;
  cursor:default;
  float:left;
  margin-right:5px;
  margin-top:5px;
  padding:0 5px;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice__remove{
  color:#999;
  cursor:pointer;
  display:inline-block;
  font-weight:bold;
  margin-right:2px;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice__remove:hover{
  color:#333;
}

.select2-container--thunder_admin[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--thunder_admin[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--thunder_admin[dir="rtl"] .select2-selection--multiple .select2-search--inline{
  float:right;
}

.select2-container--thunder_admin[dir="rtl"] .select2-selection--multiple .select2-selection__choice{
  margin-left:5px;
  margin-right:auto;
}

.select2-container--thunder_admin[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove{
  margin-left:2px;
  margin-right:auto;
}

.select2-container--thunder_admin.select2-container--focus .select2-selection--multiple{
  border:solid black 1px;
  outline:0;
}

.select2-container--thunder_admin.select2-container--disabled .select2-selection--multiple{
  background-color:#eee;
  cursor:default;
}

.select2-container--thunder_admin.select2-container--disabled .select2-selection__choice__remove{
  display:none;
}

.select2-container--thunder_admin.select2-container--open.select2-container--above .select2-selection--single, .select2-container--thunder_admin.select2-container--open.select2-container--above .select2-selection--multiple{
  border-top-left-radius:0;
  border-top-right-radius:0;
}

.select2-container--thunder_admin.select2-container--open.select2-container--below .select2-selection--single, .select2-container--thunder_admin.select2-container--open.select2-container--below .select2-selection--multiple{
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}

.select2-container--thunder_admin .select2-search--dropdown .select2-search__field{
  border:1px solid #aaa;
}

.select2-container--thunder_admin .select2-search--inline .select2-search__field{
  background:transparent;
  border:none;
  outline:0;
  box-shadow:none;
  -webkit-appearance:textfield;
}

.select2-container--thunder_admin .select2-results > .select2-results__options{
  max-height:200px;
  overflow-y:auto;
}

.select2-container--thunder_admin .select2-results__option[role=group]{
  padding:0;
}

.select2-container--thunder_admin .select2-results__option[aria-disabled=true]{
  color:#999;
}

.select2-container--thunder_admin .select2-results__option[aria-selected=true]{
  background-color:#ddd;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option{
  padding-left:1em;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option .select2-results__group{
  padding-left:0;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option .select2-results__option{
  margin-left:-1em;
  padding-left:2em;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option .select2-results__option .select2-results__option{
  margin-left:-2em;
  padding-left:3em;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{
  margin-left:-3em;
  padding-left:4em;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{
  margin-left:-4em;
  padding-left:5em;
}

.select2-container--thunder_admin .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option{
  margin-left:-5em;
  padding-left:6em;
}

.select2-container--thunder_admin .select2-results__option--highlighted[aria-selected]{
  background-color:#5897fb;
  color:white;
}

.select2-container--thunder_admin .select2-results__group{
  cursor:default;
  display:block;
  padding:6px;
}

.select2-container--thunder_admin .select2-selection--single,
.select2-container--thunder_admin .select2-selection--multiple{
  min-height:35px;
  background:#fff;
  border:1px solid #dae0e3;
  border-radius:0px;
  max-width:100%;
  box-shadow:none;
  font-size:1em;
  color:#2b302f;
  transition:border linear 0.2s;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__rendered{
  padding-left:0.5em;
}

.select2-container--thunder_admin .select2-search--inline .select2-search__field{
  padding-top:0.23em;
}

.select2-container--thunder_admin .select2-search--inline .select2-search__field::-webkit-input-placeholder{
  color:#2b302f;
}

.select2-container--thunder_admin .select2-search--inline .select2-search__field:-ms-input-placeholder{
  color:#2b302f;
}

.select2-container--thunder_admin .select2-search--inline .select2-search__field::-ms-input-placeholder{
  color:#2b302f;
}

.select2-container--thunder_admin .select2-search--inline .select2-search__field::placeholder{
  color:#2b302f;
}

.select2-container--thunder_admin.select2-container--focus .select2-selection--multiple{
  border:solid #33f3e0 1px;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__placeholder{
  color:#2b302f;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__rendered{
  padding:0.3em 1.5384em 0.3em 0.5em;
  line-height:1.9384em;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__arrow{
  top:4px;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__arrow b{
  border-color:#2b302f transparent transparent transparent;
  border-style:solid;
  border-width:6px 5px 0 4px;
  margin-left:-5px;
}

.select2-container--thunder_admin.select2-container--open .select2-selection--single .select2-selection__arrow b{
  border-color:transparent transparent #2b302f transparent;
  border-width:0 5px 6px 4px;
}

.select2-container--thunder_admin ul li.select2-results__message{
  color:#2b302f;
}

.select2-container--thunder_admin ul li.select2-results__option{
  padding:3px 1em 3px .4em;
}

.select2-container--thunder_admin .select2-search--dropdown .select2-search__field{
  border:1px solid #dae0e3;
}

.select2-container--thunder_admin .select2-results__option[aria-selected=true]{
  background-color:#fafafa;
}

.select2-container--thunder_admin .select2-results__option--highlighted[aria-selected]{
  background-color:#33f3e0;
}

.select2-container--thunder_admin .select2-dropdown{
  border-color:#dae0e3;
  border-radius:4px;
}

.select2-container--thunder_admin .select2-dropdown--above{
  border-bottom:1px;
  border-bottom-left-radius:0;
  border-bottom-right-radius:0;
}

.select2-container--thunder_admin .select2-dropdown--below{
  border-top-left-radius:0;
  border-top-right-radius:0;
}

.select2-container--thunder_admin .select2-selection--multiple:focus,
.select2-container--thunder_admin .select2-selection--single:focus,
.select2-container--thunder_admin .select2-search--dropdown .select2-search__field:focus{
  border-color:#33f3e0;
  outline:0;
  background-color:#fff;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice{
  background-color:#fafafa;
  background-image:linear-gradient(0deg, #ececec 0%, #fafafa 100%);
  border:1px solid #33f3e0;
  color:#0abcaa;
  white-space:normal;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice.unpublished{
  background-image:linear-gradient(0deg, #ececec 0%, #fafafa 100%);
  border:1px solid #f33346;
  color:#bc0a1c;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice__remove{
  color:#0abcaa;
}

.select2-container--thunder_admin .select2-selection--multiple .select2-selection__choice__remove:hover{
  color:#5a605f;
}

.select2-container--thunder_admin .select2-selection--multiple .unpublished .select2-selection__choice__remove{
  color:#bc0a1c;
}

.select2-container--thunder_admin .select2-selection--multiple .unpublished .select2-selection__choice__remove:hover{
  color:#605a5b;
}

.select2-container--thunder_admin .select2-selection--single .select2-selection__rendered.unpublished,
.select2-container--thunder_admin .select2-results__option.unpublished,
.select2-container--thunder_admin .select2-selection__choice.unpublished{
  color:#bc0a1c;
}
