@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.breadcrumb{
  line-height:1em;
  padding:0.6em 0 1em;
}

.breadcrumb li{
  color:#bfbfbf;
}

.breadcrumb a{
  color:inherit;
  font-size:10px;
  line-height:12px;
  position:relative;
  z-index:1;
}
