@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.content-header{
  overflow:hidden;
  background-color:#fafafa;
  margin-bottom:20px;
  padding:24px 0 0;
}

.content-header .page-title{
  font-size:16px;
  line-height:18px;
}
