@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.seven-details{
  margin-top:1em;
  margin-bottom:1em;
  background-color:#fcfcfa;
  border:1px solid #bfbfbf;
  border-radius:3px;
}

.seven-details__summary{
  cursor:pointer;
  text-shadow:0 1px 0 white;
}

.seven-details__summary:hover, .seven-details__summary:focus, .seven-details[open] > .seven-details__summary{
  color:#004f80;
}

.seven-details__wrapper{
  padding:0 1.5em 1em 1.5em;
}

.seven-details{
  background-color:#ececec;
  border-color:#dae0e3;
  border-radius:2px;
}

.seven-details__summary{
  color:#0abcaa;
}
