@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.ui-dialog{
  background:transparent;
  border:0;
  position:absolute;
  z-index:1260;
  padding:0;
}

@media all and (max-width: 48em){
  .ui-dialog{
    min-width:92%;
    max-width:92%;
  }
}

.ui-dialog .ui-dialog-titlebar{
  background:#6b6b6b;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding:15px 49px 15px 15px;
}

[dir="rtl"] .ui-dialog .ui-dialog-titlebar{
  padding-left:49px;
  padding-right:15px;
}

.ui-dialog .ui-dialog-title{
  font-size:1.231em;
  font-weight:600;
  margin:0;
  color:#fff;
  -webkit-font-smoothing:antialiased;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus{
  border-color:#fff;
}

[dir="rtl"] .ui-dialog .ui-dialog-titlebar-close{
  right:auto;
  left:20px;
}

.ui-dialog .ui-icon.ui-icon-closethick{
  background:url(../../../../misc/icons/ffffff/ex.svg) 0 0 no-repeat;
  margin-top:-8px;
}

.ui-dialog .ui-widget-content.ui-dialog-content{
  background:#fff;
  overflow:auto;
  padding:1em;
}

.views-ui-dialog .ui-widget-content.ui-dialog-content{
  padding:0;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane{
  background:#f5f5f2;
  margin:0;
  padding:15px 20px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
  margin:0;
  padding:0;
  float:none;
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text{
  padding:0;
}

.ui-dialog .ui-dialog-content{
  position:static;
}

.ui-dialog .ui-dialog-content .form-actions{
  padding:0;
  margin:0;
}

.ui-dialog .ajax-progress-throbber{
  left:49%;
  position:fixed;
  top:48.5%;
  z-index:1000;
  background-color:#232323;
  background-image:url(../../../../misc/loading-small.gif);
  background-position:center center;
  background-repeat:no-repeat;
  border-radius:7px;
  height:24px;
  opacity:0.9;
  padding:4px;
  width:24px;
}

[dir="rtl"] .ui-dialog .ajax-progress-throbber{
  left:auto;
  right:49%;
}

.ui-dialog .ajax-progress-throbber .throbber, .ui-dialog .ajax-progress-throbber .message{
  display:none;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar{
  position:relative;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close{
  top:10px;
}

.ui-dialog.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content{
  background:none;
}
.ui-dialog .ui-dialog-titlebar{
  background:#2b302f;
  border:4px solid #ececec;
  border-bottom:none;
}

.ui-dialog .ui-dialog-title:before{
  content:"";
  height:12px;
  width:5px;
  background:#33f3e0;
  display:inline-block;
  margin-right:5px;
  vertical-align:baseline;
}

.ui-dialog .ui-dialog-titlebar-close{
  border:0;
  background:none;
  right:20px;
  top:24px;
  margin:0;
  height:16px;
  width:16px;
  position:absolute;
}

.ui-dialog .ui-icon.ui-icon-closethick{
  background:url(../../images/icons/ex.svg) 0 0 no-repeat;
  margin-top:-12px;
}

.ui-dialog .ui-widget-content.ui-dialog-content{
  background:#fafafa;
  padding:0.4em 1.2em 1.2em;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border:4px solid #ececec;
  border-top:none;
}

.ui-dialog .ajax-progress-throbber{
  background-image:url(../../images/loading-small.gif);
}
