@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.eb-tabs ul{
  border-bottom:none;
}

.eb-tabs ul li{
  padding:0.75em;
}

.eb-tabs ul li a{
  padding:0 0 2px 0;
  color:#33f3e0;
}

.eb-tabs ul li:first-child{
  padding-left:0;
}

.eb-tabs ul li.active{
  border-bottom:none;
}

.eb-tabs ul li.active a{
  color:#33f3e0;
  border-bottom:3px solid #33f3e0;
}
