@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.entity-meta{
  background-color:#edede8;
  border-left:1px solid #bfbfbf;
  border-right:1px solid #bfbfbf;
  border-radius:3px;
  box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.15);
}

.entity-meta__header,
.entity-meta .seven-details{
  background-color:#fcfcfa;
  border-top:1px solid #bfbfbf;
  border-bottom:1px solid #bfbfbf;
}

.entity-meta__header{
  padding:1em 1.5em;
  border-radius:3px 3px 0 0;
}

.entity-meta__title{
  font-size:1.231em;
  font-weight:bold;
  text-shadow:0 1px 0 #fff;
  margin:0.25em 0;
}

.entity-meta__header .form-item{
  margin:0.25em 0;
}

.entity-meta__last-saved{
  font-style:italic;
}

.entity-meta .seven-details{
  border-left:0;
  border-right:0;
  border-top:1px solid #fff;
  margin:0;
  border-radius:0;
}

.entity-meta .seven-details:last-child{
  border-radius:0 0 3px 3px;
}

.entity-meta .seven-details[open]{
  background-color:transparent;
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.125), transparent 4px);
  border-top-width:0;
  padding-top:1px;
}

.entity-meta .seven-details[open] + .seven-details[open]{
  background-image:none;
  border-top-width:1px;
  padding-top:0;
}

.entity-meta .seven-details > .seven-details__wrapper{
  padding-top:0;
}

.entity-meta .seven-details > summary{
  padding:0.85em 1.25em;
  text-shadow:0 1px 0 white;
}
.entity-meta .seven-details .summary{
  display:none;
}
.entity-meta__title{
  text-shadow:0 1px 0 #fff;
  margin:0.25em 0;
}
