@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.toolbar{
  font-size:0.8125rem;
  tap-highlight-color:rgba(0, 0, 0, 0);
  touch-callout:none;
}

.toolbar .toolbar-item{
  cursor:pointer;
  padding:1em 1.3333em;
  line-height:1em;
  text-decoration:none;
}

.toolbar .toolbar-item:hover,
.toolbar .toolbar-item:focus{
  text-decoration:none;
}
.toolbar .toolbar-bar{
  background-color:#2b302f;
  color:#ddd;
}

.toolbar .toolbar-bar .toolbar-item{
  color:#fff;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item{
  font-weight:bold;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:hover,
.toolbar .toolbar-bar .toolbar-tab > .toolbar-item:focus{
  background:#202423;
}

.toolbar .toolbar-bar .toolbar-tab > .toolbar-item.is-active{
  background:#5a605f;
}
.toolbar .toolbar-tray{
  background-color:#5a605f;
}

.toolbar .toolbar-tray-horizontal > .toolbar-lining{
  padding-right:5em;
}

[dir="rtl"] .toolbar .toolbar-tray-horizontal > .toolbar-lining{
  padding-right:0;
  padding-left:5em;
}

.toolbar-tray a{
  color:white;
  cursor:pointer;
  padding:1em 1.3333em;
  text-decoration:none;
}

.toolbar .toolbar-tray-horizontal .menu-item{
  background:#5a605f;
}

.toolbar .toolbar-tray-horizontal .menu-item.level-1{
  border:0;
}

.toolbar .toolbar-tray-vertical .menu-item{
  background:#5a605f;
}

.toolbar .toolbar-tray-vertical .menu-item.level-1{
  border-bottom:1px solid #fff;
}

.toolbar .toolbar-tray a:hover,
.toolbar .toolbar-tray a:active,
.toolbar .toolbar-tray a:focus,
.toolbar .toolbar-tray a.is-active{
  color:#33f3e0;
  text-decoration:none;
}

.toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{
  margin-left:0.25em;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu .toolbar-menu .toolbar-menu .toolbar-menu{
  margin-left:0;
  margin-right:0.25em;
}
.toolbar .toolbar-toggle-orientation{
  padding:0;
  height:100%;
}

.toolbar .toolbar-toggle-orientation > .toolbar-lining{
  float:right;
}

[dir="rtl"] .toolbar .toolbar-toggle-orientation > .toolbar-lining{
  float:left;
}

.toolbar .toolbar-toggle-orientation button{
  cursor:pointer;
  display:inline-block;
}
.toolbar .level-2 > ul{
  background-color:#5a605f;
  border-bottom-color:#ccc;
  border-top-color:#e5e5e5;
}

.toolbar .level-3 > ul{
  background-color:#5a605f;
  border-bottom-color:#c5c5c5;
  border-top-color:#ddd;
}

.toolbar .level-4 > ul{
  background-color:#5a605f;
  border-bottom-color:#bbb;
  border-top-color:#d5d5d5;
}

.toolbar .level-5 > ul{
  background-color:#5a605f;
  border-bottom-color:#b5b5b5;
  border-top-color:#ccc;
}

.toolbar .level-6 > ul{
  background-color:#5a605f;
  border-bottom-color:#aaa;
  border-top-color:#c5c5c5;
}

.toolbar .level-7 > ul{
  background-color:#5a605f;
  border-bottom-color:#b5b5b5;
  border-top-color:#ccc;
}

.toolbar .level-8 > ul{
  background-color:#5a605f;
  border-bottom-color:#ccc;
  border-top-color:#ddd;
}
