.toolbar .toolbar-icon{
  padding-left:2.75em;
  position:relative;
}

[dir="rtl"] .toolbar .toolbar-icon{
  padding-left:1.3333em;
  padding-right:2.75em;
}

.toolbar .toolbar-icon:before{
  background-attachment:scroll;
  background-color:transparent;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:100% auto;
  content:'';
  display:block;
  height:100%;
  left:0.6667em;
  position:absolute;
  top:0;
  width:20px;
}

[dir="rtl"] .toolbar .toolbar-icon:before{
  left:auto;
  right:0.6667em;
}

.toolbar button.toolbar-icon{
  background-color:transparent;
  border:0;
  font-size:1em;
}

.toolbar .toolbar-menu ul .toolbar-icon{
  padding-left:1.3333em;
  padding-right:2em;
}

[dir="rtl"] .toolbar .toolbar-menu ul .toolbar-icon{
  padding-left:0;
  padding-right:1.3333em;
}

.toolbar .toolbar-menu ul a.toolbar-icon:before{
  display:none;
}

.toolbar .toolbar-tray-vertical .toolbar-menu ul a{
  padding-left:4.25em;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul a{
  padding-left:0;
  padding-right:4.25em;
}

.toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{
  padding-left:5.75em;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul a{
  padding-left:0;
  padding-right:5.75em;
}

.toolbar .toolbar-tray-vertical .toolbar-menu ul ul ul a{
  padding-left:7.25em;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu ul ul ul a{
  padding-left:0;
  padding-right:7.25em;
}

.toolbar .toolbar-tray-vertical .toolbar-menu a{
  padding-left:2.75em;
  padding-right:4em;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical .toolbar-menu a{
  padding-left:4em;
  padding-right:2.75em;
}
.toolbar-bar .toolbar-icon-menu:before{
  background-image:url(../../images/icons/hamburger--gray-light.svg);
}

.toolbar-bar .toolbar-icon-menu:active:before,
.toolbar-bar .toolbar-icon-menu.is-active:before{
  background-image:url(../../images/icons/hamburger--white.svg);
}

.toolbar-bar .toolbar-icon-help:before{
  background-image:url(../../images/icons/questionmark-disc--gray-light.svg);
}

.toolbar-bar .toolbar-icon-help:active:before,
.toolbar-bar .toolbar-icon-help.is-active:before{
  background-image:url(../../images/icons/questionmark-disc--white.svg);
}

.toolbar-bar .toolbar-icon-admin-toolbar-tools-help:before,
.toolbar-bar .toolbar-icon-admin-toolbar-tools-help:active:before,
.toolbar-bar .toolbar-icon-admin-toolbar-tools-help.active:before{
  background-image:url(../../images/willbe-shortlogo-white.svg);
  width:32px;
  margin-left:6px;
}
.toolbar-icon-system-admin-content:before{
  background-image:url(../../images/icons/file--white.svg);
}

.toolbar-icon-system-admin-content:active:before,
.toolbar-icon-system-admin-content.is-active:before{
  background-image:url(../../images/icons/file--primary-blue-intense.svg);
}

.toolbar-icon-system-admin-structure:before{
  background-image:url(../../images/icons/orgchart--white.svg);
}

.toolbar-icon-system-admin-structure:active:before,
.toolbar-icon-system-admin-structure.is-active:before{
  background-image:url(../../images/icons/orgchart--primary-blue-intense.svg);
}

.toolbar-icon-system-themes-page:before{
  background-image:url(../../images/icons/paintbrush--white.svg);
}

.toolbar-icon-system-themes-page:active:before,
.toolbar-icon-system-themes-page.is-active:before{
  background-image:url(../../images/icons/paintbrush--primary-blue-intense.svg);
}

.toolbar-icon-entity-user-collection:before{
  background-image:url(../../images/icons/people--white.svg);
}

.toolbar-icon-entity-user-collection:active:before,
.toolbar-icon-entity-user-collection.is-active:before{
  background-image:url(../../images/icons/people--primary-blue-intense.svg);
}

.toolbar-icon-system-modules-list:before{
  background-image:url(../../images/icons/puzzlepiece--white.svg);
}

.toolbar-icon-system-modules-list:active:before,
.toolbar-icon-system-modules-list.is-active:before{
  background-image:url(../../images/icons/puzzlepiece--primary-blue-intense.svg);
}

.toolbar-icon-system-admin-config:before{
  background-image:url(../../images/icons/wrench--white.svg);
}

.toolbar-icon-system-admin-config:active:before,
.toolbar-icon-system-admin-config.is-active:before{
  background-image:url(../../images/icons/wrench--primary-blue-intense.svg);
}

.toolbar-icon-system-admin-reports:before{
  background-image:url(../../images/icons/barchart--white.svg);
}

.toolbar-icon-system-admin-reports:active:before,
.toolbar-icon-system-admin-reports.is-active:before{
  background-image:url(../../images/icons/barchart--primary-blue-intense.svg);
}

.toolbar-icon-help-main:before{
  background-image:url(../../images/icons/questionmark-disc--white.svg);
}

.toolbar-icon-help-main:active:before,
.toolbar-icon-help-main.is-active:before{
  background-image:url(../../images/icons/questionmark-disc--primary-blue-intense.svg);
}

@media only screen and (min-width: 16.5em){
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    text-indent:-9999px;
    width:4em;
  }
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{
    background-size:42% auto;
    left:0;
    width:100%;
  }
  .no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{
    background-size:auto auto;
  }
  [dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{
    left:auto;
    right:0;
  }
}

@media only screen and (min-width: 36em){
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{
    background-position:left center;
    padding-left:2.75em;
    padding-right:1.3333em;
    text-indent:0;
    width:auto;
  }
  [dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon{
    background-position:right center;
    padding-left:1.3333em;
    padding-right:2.75em;
  }
  .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{
    background-size:100% auto;
    left:0.6667em;
    width:20px;
  }
  .no-svg .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{
    background-size:auto auto;
  }
  [dir="rtl"] .toolbar .toolbar-bar .toolbar-tab > .toolbar-icon:before{
    left:0;
    right:0.6667em;
  }
}
.toolbar-tab a:focus{
  outline:none;
  text-decoration:underline;
}

.toolbar-lining button:focus{
  outline:none;
}

.toolbar-tray-horizontal a:focus,
.toolbar-box a:focus{
  outline:none;
}

.toolbar-box a:hover:focus{
  text-decoration:underline;
}

.toolbar .toolbar-icon.toolbar-handle:focus{
  outline:none;
}
.toolbar .toolbar-icon.toolbar-handle{
  width:4em;
  text-indent:-9999px;
}

.toolbar .toolbar-icon.toolbar-handle:before{
  left:1.6667em;
  background-image:url(../../images/icons/chevron-disc-down--white.svg);
}

[dir="rtl"] .toolbar .toolbar-icon.toolbar-handle:before{
  left:auto;
  right:1.6667em;
}

.toolbar .toolbar-icon.toolbar-handle.open:before{
  background-image:url(../../images/icons/chevron-disc-up--primary-blue-intense.svg);
}

.toolbar .toolbar-icon-escape-admin:before{
  background-image:url(../../images/icons/chevron-disc-left--gray-light.svg);
}

[dir="rtl"] .toolbar .toolbar-icon-escape-admin:before{
  background-image:url(../../images/icons/chevron-disc-right--gray-light.svg);
}
.toolbar .toolbar-toggle-orientation button{
  height:39px;
  padding:0;
  text-indent:-999em;
  width:39px;
}

.toolbar .toolbar-toggle-orientation button:before{
  left:0;
  right:0;
  margin:0 auto;
}

[dir="rtl"] .toolbar .toolbar-toggle-orientation .toolbar-icon{
  padding:0;
}
.toolbar .toolbar-toggle-orientation [value="vertical"]:before{
  background-image:url(../../images/icons/push-left--white.svg);
}

.toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,
.toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{
  background-image:url(../../images/icons/push-left--white.svg);
}

[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:before{
  background-image:url(../../images/icons/push-right--white.svg);
}

[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:hover:before,
[dir="rtl"] .toolbar .toolbar-toggle-orientation [value="vertical"]:focus:before{
  background-image:url(../../images/icons/push-right--white.svg);
}

.toolbar .toolbar-toggle-orientation [value="horizontal"]:before{
  background-image:url(../../images/icons/push-up--white.svg);
}

.toolbar .toolbar-toggle-orientation [value="horizontal"]:hover:before,
.toolbar .toolbar-toggle-orientation [value="horizontal"]:focus:before{
  background-image:url(../../images/icons/push-up--white.svg);
}
