@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
body.toolbar-tray-open.toolbar-fixed.toolbar-vertical .toolbar-oriented{
  width:320px;
}

.toolbar-oriented .toolbar-tray-vertical{
  width:320px;
}

.toolbar-oriented .toolbar-tray-vertical > .toolbar-lining:before{
  width:320px;
}
body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{
  margin-left:320px;
}

[dir="rtl"] body.toolbar-tray-open.toolbar-vertical.toolbar-fixed{
  margin-right:320px;
}

.toolbar-horizontal .toolbar-tray{
  width:auto;
}
