@import url("//fonts.googleapis.com/css?family=Roboto%3A300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i");
.form-type-password .form-item__toggle-description{
  vertical-align:bottom;
  left:-2px;
}

.form-type-password + .password-suggestions{
  margin-bottom:4px;
}
